* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background: linear-gradient(#292929, #485960);
}


header .container {
  display: flex;
  max-width: 1140px;
  height: 50px;


  align-items: center;
  justify-content: space-between;
  margin: auto;
}

header .logo {
  color: #FFF;
  font-size: 14px;
}

header .logo span {
  color: #428290;
}

header nav {
  
}

header nav ul {

}

header nav ul li {
  display: inline-flex;
  list-style: none;
  
}

header nav ul li a  {
  display: inline-block;

  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;

  padding: 16px;
  color: #FFF;

}

header nav ul li a:hover,
header nav ul li.active {
  background: #205099;
  text-shadow: 1px 1px 3px #FFF;
}



#banner {
  background: #205099;
  height: 302px;

  
}

#banner .container {
  max-width: 1140px;
  display: flex;

  justify-content: space-between;
  align-items: flex;

  margin: auto;
}

.banner-conteudo {
  max-width: 480px;
  display: flex;
  flex-direction: column;

  justify-content: center;

  color: #FFF;

  margin-left: 5%;
}

.banner-conteudo h1 {
  font-size: 40px;
  margin: 0 20px;
}

.banner-conteudo small {
  font-size: 20px;
  margin: 15px 20px;
}

.banner-conteudo a  {
  width: 300px;
  display: inline-block;

  padding: 15px;
  margin: 10px 20px;
  background: #e7c21d;

  color: #000;

  text-decoration: none;

  text-align: center;
  border-radius: 5px;

  font-weight: 600;

  cursor: pointer;
}

.banner-conteudo a:hover {
  background: #c9a91a;
}

.banner-image {
  max-width: 480px;
  margin-right: 15%;
}

.banner-image img {
  height: 100%;
}